.header {
  height: 90px;
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.container-title-and-links {
  margin-left: 2.5rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.title-main {
  font-weight: 700;
  text-transform: lowercase;
}

.list-links {
  display: flex;
  gap: 3rem;
}

.link {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 500;
  transition: 0.5s;
  border: 1px solid transparent;
}

.link:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.container-button-relation-account {
  margin-right: 2.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.btn-relation-account {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.4);
  padding: 0.6rem 1rem;
  transition: 0.5s;
}

.register {
  border-radius: 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.register:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}
